*{
    margin: 0;
    padding: 0;

}                                                                                                     

body{
padding: 0 8rem;
}
 
.pix{
    width: 100%;
    height: 400px;
    position:relative;
}

li{
    list-style-type: none;
    text-decoration: none;
}

i{
    color:tomato;
}

.img{
    width: 95%;
    position: absolute;
    margin: 0;
    height: 90%;
}

ul li a{
    text-decoration: none;
    border: 1px solid orange;
    color: white;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

ul{
    display: block;
    height: 100px;
    padding-top: 10px;
}

.toi{
    text-align: center ;
    position: absolute;
    margin: 0;
    top: 5rem;
    width: 95%;
}

.toi h1{
    display: block;
    color: brown;
    font-size: 3.5rem;
}

.toi h4{
    display: block;
    color: azure;
    font-size: 1.5rem;
}


.col1{
    width: 95%;
    height: 15rem;
    margin-bottom: 2rem;
    margin: 1.5rem 0;
}

.row1{
    float: left;
    padding:0 1.5rem;
    height: 12rem;
    width: 27%;
}

.row2{
    float: left;
    padding: 0 1.5rem;
    height: 24rem;
    width: 27%;
    margin-left: 38px;
    border-right: 1px solid rgba(0, 0, 0, 123);
    border-left: 1px solid rgba(0, 0, 0, 123);
}


.row3{
    float: right;
    padding: 0 1.5rem;
    height: 12rem;
    width: 27%;
}

.row1 h4{
    margin: 5px 0;
}

.row2 h4{
    marker: 5px 0;
}

.row3 h4{
    margin: 5px 0;
}

.btn1{
    margin-top: 2rem;
}

.btn2{
    text-align: center;
    margin-top: 15rem;
}

footer{
    text-align: center;
    background-color: darkgray;
    height: 4rem;
    padding: 20px 0;
    margin-bottom: 1rem;
    scroll-margin-bottom: 3rem;
}